nav{
    display:flex;
    justify-content: space-between;
    border:1px black solid;
    padding:5px;
}

.nav-items{
    display:flex;
    list-style: none;
    width:300px;
    margin-right:20px;
    justify-content: space-between;
}

#name{
margin-left:20px;
}
