nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px #403D39 solid;
    padding-bottom: 30px;
    margin:0;
    margin-top: 30px;
    margin-bottom: 60px;
    align-items: center;
    padding-right:40px;
    padding-left:40px;

    
}

.nav-items {
    display: flex;
    list-style: none;
    justify-content: space-between;
    /* border:1px red solid; */
    padding-left: 20px;

}

.nav-item {
    /* border:1px blue solid; */
    margin-left: 20px;
    margin-right: 20px;
    color: #403D39;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;


}

.nav-item:hover {
    color: #EB5E28;
    text-decoration: none;

}


#site-name {
    color: #EB5E28;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#myAccount {
    display: none;
}

#myCart {
    display: none;
}

