.purchased-sets{
    width:100%;
    height:300px;
    display:flex;
    /* align-items: center; */
    background-color:#EB5E28;
    padding-top:40px;
    padding-bottom:40px;
    flex-direction:column;
    margin-top:40px;
    /* border:1px black solid; */


}

.purchased-all-imgs{
    display:flex;
    margin-left:40px;
    /* border:1px red solid; */

}

.purchased-img{
    margin-right:10px;
    /* border:1px red solid; */
   
}

#purchased-img{
    border:1px white solid;
    height:250px;
    width:160px;
}

.title-account{
    color: #EB5E28;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
}

.top-account{
    margin-left:40px;
    margin-right:40px;
}

.title-sets{
    color:white;
    text-align:left;
    /* border:1px red solid; */
    width:90%;
    margin-left:40px;
    text-transform:uppercase;
    font-size:12px;
    letter-spacing:1px;
    margin-bottom:40px;


}

.buttons-container-account{
    width:250px;
    display:flex;
    justify-content: space-between;
    margin-top:40px;

}

.button-account{
    border-radius:10px;
    height:40px;
    padding-left:10px;
    padding-right:10px;
    font-weight:bold;
    font-size:12px;
    letter-spacing:.5px;
    background-color:white;
    border:1px #403D39 solid;
    color:#403D39;
}

.button-account:hover{
  cursor:pointer;
  color:#EB5E28;
  border-color:#EB5E28;
}

.delete-account{

        color:white;
        font-weight:300;
        letter-spacing:1.5px;
         text-align: center;
         /* border:1px red solid; */
         line-height:1.4;
         padding:20px;
         width:90%;
    
    
}

