.sign-up-form{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    /* border:1px white solid; */
    /* padding:30px; */
    height:220px;
    margin-top:40px;
}

