.what-is{
    width:500px;
    padding:60px;
    height:500;
    background-color:#EB5E28;

    /* border:1px red solid; */
}


@media only screen and (max-width:1400px){
    .what-is{
        width:91%;
        /* border:3px purple solid; */
        padding-bottom:60px;
        margin:0 auto;
        display:flex;
        align-items: center;
        flex-direction:column;
        margin-top:60px;
        /* text-align: center; */
    }
}


@media only screen and (max-width:600px){
    .what-is{
        width:370px;
    }
}


.text{
    color:white;
    line-height:1.5;
    font-weight:300;
}



#what-is-art-container{
    margin-top:0;
    margin-bottom:40px;
}
