.what-is{
    width:500px;
    padding:60px;
    height:500;
    background-color:#EB5E28;

    /* border:1px red solid; */
}

.text{
    color:white;
    line-height:1.5;
    font-weight:300;
}

#what-is-art-container{
    margin-top:0;
    margin-bottom:40px;
}