.about-us{
    width:500px;
    padding:60px;
    background-color:#EB5E28;
    padding-bottom:40px;
    /* border:1px red solid; */
}

.text{
    color:white;
    line-height:1.5;
    font-weight:300;
}

.art-container{
    display:flex;
    width:100%;
    justify-content: space-between;
    margin-top:40px;
}