.empty-cart-btn {
    font-size: 14px;
    border: none;
    color: #EB5E28;
    padding-bottom: 5px;
    border: 1px white solid;
    border-bottom: 1px #EB5E28 solid;
    letter-spacing: 1px;
    background-color: white;
}

.empty-cart-btn:hover {
    border: 1px rgba(0,0,0,0) solid;
    transition: .2s linear;
    cursor: pointer;
    box-shadow: 0px 1px rgba(0,0,0,0);
    color:red;
    border-bottom: 1px solid rgba(0,0,0,0);

}

.empty-cart-btn:active {
    box-shadow: none;
}

.empty-cart-btn:focus {
    outline: none;
}

.image-info-container {
    display: flex;
    border-bottom: 1px #EB5E28 solid;
    margin-bottom: 40px;
    justify-content: space-between;
}

.remove-btn {
    width: 80px;
    height: 30px;
    border: 1px #EB5E28 solid;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color: #EB5E28;
    cursor:pointer;
    background-color:white;
}

.remove-btn:hover {
    background-color: #EB5E28;
    color: white;
    transition: .2s linear;
}

.remove-btn:active {
    box-shadow: none;
    top: 1px;
}



.cart-container {
    padding: 40px;
    margin-bottom:100px;
}

#title-cart {
    color: #EB5E28;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
}

.title-empty-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
}

.cart-items-container {
    border-top: 1px #EB5E28 solid;
    /* border-bottom:1px #EB5E28 solid; */
    padding-top: 40px;
    margin-bottom: 100px;
    /* border:1px red solid; */

}

.name-price-container {
    display: flex;
    width: 120px;
    justify-content: space-between;
    align-content: center;

}

.cart-model-name {
    font-weight: 300;
}

.cart-separator {
    color: #EB5E28;
    font-size: 30px;
    margin-top: -10px;
}

.cart-price {
    font-weight: bold;

}


.total-purchase-container {
    display: flex;
    align-items: center;
    width: 250px;
    justify-content: space-between;
    float:right;
    position:absolute;
    right: 40px;


}

.purchase-btn {
    height: 40px;
    color: white;
    background-color: #EB5E28;
    border-radius: 10px;
    width: 100px;
    border: none;
}

.purchase-btn:hover{
border:1px  #EB5E28 solid;
background-color:white;
color:#EB5E28;
transition:.2s linear;
box-shadow:2px 2px rgba(0,0,0,0.2);
top:2px;
}


.purchase-btn:active{
    box-shadow:none;
    top:0px;

}

.total-span {
    font-weight: 300;
}

.total-all {
    font-size: 20px;
}

.empty-cart-message{
    color:#403D39;
}

.classCommit{
    color:red;
}

.empty-cart{
    color:white;
    font-weight:300;
    letter-spacing:1.5px;
     text-align: center;
     /* border:1px red solid; */
     width:100%;

}

.empty-cart-pop-up-wrap{
    width:90%;
    margin:0 auto;
    margin-top:40px;
    /* border:1px red solid; */
    display:flex;
    flex-direction:column;
}

.empty-cart-button-wrap{
    display:flex;
    /* border:1px blue solid; */
    width:50%;
    margin:0 auto;
    justify-content: space-around;
    margin-top:30px;
}

.empty-cart-pop-up-button{
    padding:5px 25px;
    border-radius:10px;
    border:1px  #EB5E28 solid;
    color: #EB5E28;
    box-shadow:2px 2px 2px rgba(0,0,0,0.4);

}

.empty-cart-pop-up-button:hover { 
    cursor:pointer;
    box-shadow:none;
}

