
body{
    background-color:rgb(255 ,255 ,255);
}

.about-container{
    display:flex;
    justify-content: space-between;
    margin-top:40px;
    /* padding-right:40px;
    padding-left:40px; */
    /* border:1px red solid; */
}


@media only screen and  (max-width: 1400px){
    .about-container{
        flex-direction: column;
    }
}

.home-image-container{
    /* display:flex; */
    display:grid;

   /* padding-left:40px; */
   /* border:1px red solid; */
    /* justify-content: space-between;
    padding-right:40px;
    padding-left:40px;
    margin-bottom:80px; */
}


.images-inner{
    /* border:1px purple solid; */
   margin:0 auto;
   display:flex;
   flex-direction:row;
   width:100%;
   justify-content: space-between;
  
}




  @media only screen and (max-width: 700px) {
    .images-inner {
        display:grid;
        grid-template-columns: 1fr 1fr;
       height:550px;
       justify-items: center;
       align-items: center;
       /* border:5px yellow solid; */
      /* border:1px red solid; */
    }

    .home-image-container{
        margin-top:-40px;

    }
  }